@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}


body {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: min-content 1fr;
    --sidebar-background: #1992d4;
    --sidebar-text: #ffffff;
    --main-background: #e2e8f0;
    --main-text: #8a8a8a;
}

#sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: var(--sidebar-background);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 14px;
}

#sidebar h1 {
    height: 2rem;
    margin: 0;
}

#sidebar #logo img {
    height: 3rem;
}

#logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--sidebar-text);
}

#sidebar li img {
    height: 1.8rem;
    margin: 0 18px;
}

#sidebar ul {
    padding: 0;
}

#sidebar li {
    display: flex;
    align-items: center;
    color: var(--sidebar-text);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 18px 0;
}

header {
    padding: 18px 36px;
    margin-right: 64px;
}

header #upper {
    display: flex;
    align-items: center;
    gap: 16px;
}

header #upper img {
    height: 1.6rem;
}

header #upper #search {
    flex: 1;
    background-color: var(--main-background);
    height: 1.8rem;
    border-radius: 16px;
    margin-right: 128px;
}

header #upper img#photo {
    height: 3.6rem;
    margin: 0 14px;
}

header #upper p {
    font-weight: 600;
    font-size: 1.2rem;
}

header #bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

header #bottom img {
    height: 5rem;
}

header #bottom > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

header #bottom h2 {
    margin: 0;
}

header #bottom p {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
}

header #bottom button {
    color: var(--sidebar-text);
    background-color: var(--sidebar-background);
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 24px;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    background-color: var(--main-background);
    padding: 30px;
    gap: 30px;
}

#projects {
    grid-row: 1 / -1;
}

.card {
    border-radius: 16px;
    background-color: var(--sidebar-text);
    padding: 30px;
}

.announcement {
    border-bottom: 2px solid var(--main-background);
}

.announcement:last-child {
    border: none;
}

#announcements h3 {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
}

#announcements p {
    margin-top: 4px;
    color: var(--main-text);
    font-size: 0.8rem;
}

.announcement:last-child > p {
    margin-bottom: 0;
}

.announcement:first-child > h3 {
    margin-top: 0;
}